name: PR Workflow

on:
  pull_request:

jobs:
  changed-files:
    name: Get changed files
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
      any_changed: ${{ steps.set-matrix.outputs.any_changed }}
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@e0021407031f5be11a464abee9a0776171c79891 # v47.0.1
        with:
          files: "**/Dockerfile"
          matrix: true
      - name: Set matrix
        id: set-matrix
        run: |
          if [[ "${{ steps.changed-files.outputs.any_changed }}" == "true" ]]; then
            matrix=$(echo '${{ steps.changed-files.outputs.all_changed_files }}' | jq -c 'map({file: ., context: (. | gsub("/Dockerfile$"; ""))})')
          else
            matrix='[]'
          fi
          echo "matrix=$matrix" >> $GITHUB_OUTPUT
          echo "any_changed=${{ steps.changed-files.outputs.any_changed }}" >> $GITHUB_OUTPUT

  build:
    name: Build ${{ matrix.dockerfile.context }}
    needs: changed-files
    if: needs.changed-files.outputs.any_changed == 'true'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dockerfile: ${{ fromJson(needs.changed-files.outputs.matrix) }}
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - run: echo "Building Dockerfile ${{ matrix.dockerfile.file }} in context ${{ matrix.dockerfile.context }}"
