name: PR Workflow

on:
  pull_request:

jobs:
  changed-files:
    name: Get changed files
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@e0021407031f5be11a464abee9a0776171c79891 # v47.0.1
        with:
          files_yaml: |
            dockerfiles:
              - '**/Dockerfile'
            workflows:
              - .github/workflows/*.yml
          dir_names: true
          dir_names_exclude_current_dir: true
          matrix: true
      - run: |
          echo "all_changed_files: ${{ steps.changed-files.outputs.all_changed_files }}"
          echo "any_changed: ${{ steps.changed-files.outputs.any_changed }}"
          echo "changed_keys: ${{ steps.changed-files.outputs.changed_keys }}"
