name: Publish Workflow

on:
  push:
    tags:
      - "v*"

jobs:
  build-matrix:
    name: Define build matrix
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Set matrix
        id: set-matrix
        run: |
          dockerfiles=$(find . -type f -name 'Dockerfile')
          if [[ -n "$dockerfiles" ]]; then
            matrix=$(echo "$dockerfiles" | jq -R -s -c 'split("\n")[:-1] | map({file: ., path: (. | split("/")[:-1] | join("/")), name: (. | split("/")[-2])})')
          else
            matrix='[]'
          fi
          echo "matrix=$matrix" | tee -a $GITHUB_OUTPUT

  build-and-push:
    name: Build ${{ matrix.dockerfile.name }}
    needs: build-matrix
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dockerfile: ${{ fromJson(needs.build-matrix.outputs.matrix) }}
      fail-fast: false
    env:
      IMAGE_NAME: ${{ github.repository }}
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          flavor: |
            suffix=${{ matrix.dockerfile.name }},onlatest=true
          images: |
            ${{ env.IMAGE_NAME }}
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
