name: Release Workflow

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      debug:
        description: "Enable debug mode"
        type: boolean
        default: false

permissions: {}

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          lfs: true
      - name: Install Trivy
        uses: aquasecurity/setup-trivy@3fb12ec12f41e471780db15c232d5dd185dcb514
      - uses: nepalevov/ci/actions/dummy@main
      - name: Setup debug session
        uses: owenthereal/action-upterm@v1
        if: ${{ inputs.debug }}
        with:
          limit-access-to-actor: true
